.offers {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.frame_img_left {
  margin-left: -105%;
  position: absolute;
}

.frame_img_right {
  position: absolute;
  right: 0;
  margin-top: 25%;
}