.news_item {
  width: calc(85% / 3);
  border: solid #DADADA 1px;
  margin: 2rem 1rem;
}

.news_item:nth-child(3n + 1) {
  margin-left: 0;
}

.news_item:nth-child(3n + 3) {
  margin-right: 0;
}

.news_img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.news_item__img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}


.news_item__title {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0.3rem;
  margin-top: 0.8rem;
}

.news_item__desc {
  display: block;
  width: 100%;
  padding: 0.3rem;
  margin-top: 0.8rem;
  opacity: 0.6;
}

.news_item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 1rem;
  bottom: 0;
}

.news_item__bottom_link {
  color: #B14101;
  border-bottom: solid #B14101 1px;
  transition: transform .4s ease;
  
}

.news_item__bottom a:hover {
  transform: scale(1.1);
}